@import "tailwindcss";

@layer base {
  h2 > a,
  h3 > a,
  h4 > a {
    color: inherit;
    text-decoration: none;
  }
  h2 > a:hover,
  h3 > a:hover,
  h4 > a:hover {
    text-decoration: underline;
  }
}
