---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About - Max Beatty" description="About Max Beatty">
  <h1>About</h1>
  <p>
    Howdy! I'm a software engineering leader based in San Francisco. I enjoy
    wearing many hats to design and build products for the web from scratch. Some
    of my past projects include <a href="https://passplum.com/">Pass Plum</a> and
    <a href="https://github.com/motdotla/dotenv">dotenv</a>. When I'm not
    coding, you can find me playing basketball, tennis, and Euchre.
  </p>
</BaseLayout>
