---
import BaseLayout from "../layouts/BaseLayout.astro";
import Container from "../components/Container.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<BaseLayout title="About - Max Beatty" description="About Max Beatty">
  <Container class="mt-16 sm:mt-32">
    <div
      class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12"
    >
      <div class="lg:pl-20">
        <div class="max-w-xs px-2.5 lg:max-w-none">
          <div
            class="aspect-square rotate-3 rounded-2xl bg-zinc-100 dark:bg-zinc-800"
          >
          </div>
        </div>
      </div>
      <div class="lg:order-first lg:row-span-2">
        <h1
          class="text-4xl font-semibold tracking-tight text-zinc-800 sm:text-5xl text-balance dark:text-zinc-100"
        >
          I'm Max Beatty. I live in San Francisco, where I build for the web.
        </h1>
        <div
          class="mt-6 space-y-7 text-base text-zinc-600 text-pretty dark:text-zinc-400"
        >
          <p>
            Howdy! I'm a software engineering leader based in San Francisco. I
            enjoy wearing many hats to design and build products for the web from
            scratch.
          </p>
          <p>
            Some of my past projects include <a
              href="https://passplum.com/"
              class="text-sky-500 hover:text-sky-600 dark:text-sky-400 dark:hover:text-sky-300"
              >Pass Plum</a
            >, a password generator that creates memorable passphrases, and <a
              href="https://github.com/motdotla/dotenv"
              class="text-sky-500 hover:text-sky-600 dark:text-sky-400 dark:hover:text-sky-300"
              >dotenv</a
            >, one of the most widely used packages in the Node.js ecosystem.
          </p>
          <p>
            When I'm not coding, you can find me playing basketball, tennis, and
            Euchre.
          </p>
        </div>
      </div>
      <div class="lg:pl-20">
        <ul role="list">
          <li class="flex">
            <a
              href="https://twitter.com/maxbeatty"
              class="group flex text-sm font-medium text-zinc-800 transition hover:text-sky-500 dark:text-zinc-200 dark:hover:text-sky-500"
            >
              <SocialIcons
                name="x"
                class="size-6 flex-none fill-zinc-500 transition group-hover:fill-sky-500"
              />
              <span class="ml-4">Follow on X</span>
            </a>
          </li>
          <li class="mt-4 flex">
            <a
              href="https://github.com/maxbeatty"
              class="group flex text-sm font-medium text-zinc-800 transition hover:text-sky-500 dark:text-zinc-200 dark:hover:text-sky-500"
            >
              <SocialIcons
                name="github"
                class="size-6 flex-none fill-zinc-500 transition group-hover:fill-sky-500"
              />
              <span class="ml-4">Follow on GitHub</span>
            </a>
          </li>
          <li class="mt-4 flex">
            <a
              href="https://www.linkedin.com/in/maxbeatty/"
              class="group flex text-sm font-medium text-zinc-800 transition hover:text-sky-500 dark:text-zinc-200 dark:hover:text-sky-500"
            >
              <SocialIcons
                name="linkedin"
                class="size-6 flex-none fill-zinc-500 transition group-hover:fill-sky-500"
              />
              <span class="ml-4">Follow on LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </Container>
</BaseLayout>
