---
import Container from "./Container.astro";
import { navItems } from "../lib/nav";
---

<footer class="mt-32 flex-none">
  <div class="sm:px-8">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
      <div
        class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40"
      >
        <Container>
          <div
            class="flex flex-col items-center justify-between gap-6 md:flex-row"
          >
            <div
              class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200"
            >
              {
                navItems.map(({ href, label }) => (
                  <a
                    href={href}
                    class="transition hover:text-sky-500 dark:hover:text-sky-400"
                  >
                    {label}
                  </a>
                ))
              }
            </div>
            <p class="text-sm text-zinc-400 dark:text-zinc-500">
              &copy; {new Date().getFullYear()} Max Beatty
            </p>
          </div>
        </Container>
      </div>
    </div>
  </div>
</footer>
