---
import Container from "./Container.astro";
import { navItems } from "../lib/nav";
---

<footer class="mt-32 flex-none">
  <div class="sm:px-8">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
      <div
        class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40"
      >
        <Container>
          <div
            class="flex flex-col items-center justify-between gap-6 md:flex-row"
          >
            <div
              class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200"
            >
              {
                navItems.map(({ href, label }) => (
                  <a
                    href={href}
                    class="transition hover:text-sky-500 dark:hover:text-sky-400"
                  >
                    {label}
                  </a>
                ))
              }
            </div>
            <div class="flex items-center gap-4">
              <a
                href="/rss.xml"
                class="text-zinc-400 transition hover:text-sky-500 dark:text-zinc-500 dark:hover:text-sky-400"
                aria-label="RSS Feed"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12.75 19.5v-.75a7.5 7.5 0 0 0-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                  ></path>
                </svg>
              </a>
              <p class="text-sm text-zinc-400 dark:text-zinc-500">
                &copy; {new Date().getFullYear()} Max Beatty
              </p>
            </div>
          </div>
        </Container>
      </div>
    </div>
  </div>
</footer>
